@charset "UTF-8";

body {
	color: #ffffff;
	font-family:Monospace;
	font-size:13px;
	text-align:center;
	font-weight: bold;
	background-color: #000000;
	margin: 0px;
	overflow: hidden;
}
#container {
	position: relative;
}
h1 {
	display: table;
	text-align: center;
	width: 100%;
	font-family: 'Pacifico', cursive;
	font-size: 120px;
	font-size: 12.5vw;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
}
p {
	display: table;
	text-align: center;
	width: 100%;
	font-family: 'Kosugi Maru', sans-serif;
	font-size: 20px;
	font-size: 2vw;
	position: absolute;
	left: 0;
	right: 0;
	top: 25%;
	bottom: 0;
	margin: auto;
}
.down {
	display: table;
	text-align: center;
	width: 100%;
	font-family: 'Kosugi Maru', sans-serif;
	font-size: 20px;
	font-size: 2vw;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 2%;
	margin: auto;
}
a {
  display: inline-block;
  margin: auto;
  color: #fff;
  text-decoration: none;
  	font-size: 2vw;
  padding-top: 60px;
}
a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb 2s infinite;
  animation: sdb 2s infinite;
  box-sizing: border-box;
}
@-webkit-keyframes sdb {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
  }
  20% {
    -webkit-transform: rotate(-45deg) translate(-10px, 10px);
  }
  40% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
  }
}
@keyframes sdb {
  0% {
    transform: rotate(-45deg) translate(0, 0);
  }
  20% {
    transform: rotate(-45deg) translate(-10px, 10px);
  }
  40% {
    transform: rotate(-45deg) translate(0, 0);
  }
}

#container2 {
	position: relative;
	min-height: 100%;
	width: 100%;
	min-height: 100vh;
	width: 100vw;
	background-color: #fff;
}
.up {
	display: table;
	text-align: center;
	width: 100%;
	font-family: 'Kosugi Maru', sans-serif;
	font-size: 20px;
	font-size: 2vw;
	position: absolute;
	left: 0;
	right: 0;
	top: 48vh;
	margin: auto;
}
#container2 a {
  display: inline-block;
  margin: auto;
  color: #000;
  text-decoration: none;
  font-size: 2vw;
  padding-top: 60px;
}
#container2 a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
	border-right: 1px solid #000;
	border-top: 1px solid #000;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb 2s infinite;
  animation: sdb 2s infinite;
  box-sizing: border-box;
}